details.empty-details > summary {
  list-style: none;
}

details.empty-details > summary::-webkit-details-marker {
  display: none;
}

details[open] > summary > span[aria-level='3'] {
  color: black;
  font-weight: bold;
}

details.empty-details[open] > summary > span[aria-level='3'] {
  color: black;
  font-weight: normal;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  display: flex;
  flex-direction: row;
}

details > summary::marker {
  content: '';
}

.details-summary-span {
  flex-basis: 100%;
}

.cert-image-span > button {
  height: 100%;
  width: 100%;
  border-width: 0;
  background-color: transparent;
}

.cert-image-span > button > img {
  height: 100%;
  width: 100%;
}

.cert-image-zoom-button {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
}

.cert-image-span:not(.cert-viewer-on) > .cert-viewer-container {
  display: none;
}

.cert-image-span.cert-viewer-on > .cert-viewer-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.cert-image-span.cert-viewer-on > .cert-viewer-container > .cert-viewer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #888;
  border-radius: 2vh 2vh;
  pointer-events: all;
}

.cert-image-enlarge-button {
  cursor: pointer;
}

.organisation-subtitle {
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.time-frame-subtitle {
  color: #666666;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (min-width: 1200px) {
  h3,
  summary span[aria-level='3'] {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 2.25vh;
  }

  details.empty-details > summary {
    text-indent: 2vh;
  }

  .details-summary-with-cert-image-span {
    flex-basis: 85%;
  }

  .cert-image-span {
    flex-basis: 35%;
    min-width: 0;
    max-width: 10vh;
  }

  .cert-image-span.cert-viewer-on > .cert-viewer-container > .cert-viewer {
    top: 5vh;
    left: 7.5vw;
    width: 85vw;
    height: 90vh;
    display: flex;
  }

  .cert-image {
    width: 40%;
    position: inherit;
    left: 5%;
  }

  .cert-image-zoomed > .cert-image {
    width: 120%;
  }

  .cert-image-span {
    flex-basis: 7.5%;
    pointer-events: all;
  }

  .cert-image-span.cert-viewer-on > .cert-viewer {
    top: 0vh;
    left: 0vw;
    width: 50vw;
    height: 50vh;
  }

  .cert-image-span.cert-viewer-on > .cert-viewer-container > .cert-viewer > .cert-viewer-controls {
    flex-basis: 20%;
  }

  .cert-image-span.cert-viewer-on > .cert-viewer-container > .cert-viewer > .cert-viewer-viewport {
    flex-basis: 80%;
  }

  section {
    /*        
        --num-sections: attr(heightfactor);
        height: calc(75vh / var(--num-sections));
*/
    height: 23vh;
    margin: 1vh 0vh;
  }

  details > p,
  details > dl,
  details > address {
    margin-block-start: 1vh;
    margin-block-end: 1vh;
    margin-inline-start: 2.5vw;
    margin-inline-end: 2.5vw;
    font-size: 1.575vh;
  }

  details > summary {
    pointer-events: none;
    height: 7vh;
  }

  .organisation-subtitle {
    font-size: 1.8vh;
  }

  .time-frame-subtitle {
    font-size: 1.8vh;
  }

  button.section-collapse-button {
    display: none;
  }

  button.cert-viewer-collapse-button {
    border-radius: 50%;
    border-width: 0;
    background-color: white;
    font-family: 'Decalotype';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 800;
    width: 4vh;
    height: 4vh;
    position: absolute;
    pointer-events: all;
    top: 1vh;
    left: 7.5vw;
    background-position: center;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-image: url(/public/images/prevarrowbluetintdark.svg);
  }

  button.cert-viewer-collapse-button:hover {
    background-color: #5c7ad6;
    background-image: url(/public/images/prevarrowbluetintbright.svg);
  }
}

@media (max-width: 1199px) {
  .organisation-subtitle {
    font-size: min(2.4vh, 3.65vw);
  }

  .time-frame-subtitle {
    font-size: min(2.4vh, 3.65vw);
  }

  summary span[aria-level='3'] {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: min(3.15vh, 4.8vw);
  }

  details {
    cursor: pointer;
  }

  details:not([open]) > summary {
    background-color: #f7f9fe;
    margin: min(1vh, 2vw) min(0.75vh, 0.75vw);
    padding: min(1vh, 1vw) min(0.75vh, 2.5vw);
    box-shadow: 0.5vh 0.5vh #adbdeb;
    height: min(10vh, 22vw);
    border-radius: 1vh 1vh;
  }

  details.empty-details > summary {
    text-indent: 2vw;
  }

  .details-summary-with-cert-image-span {
    flex-basis: 85%;
  }

  .cert-image-span {
    flex-basis: 35%;
    min-width: 0;
    max-width: 10vh;
  }

  .cert-image-span.cert-viewer-on > .cert-viewer-container > .cert-viewer {
    top: 5vh;
    left: 7.5vw;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 6vh 5vw 4vh 5vw;
  }

  .cert-image {
    width: 90%;
    position: inherit;
    left: 5%;
  }

  .cert-image-zoomed > .cert-image {
    width: 270%;
  }

  details > p,
  details > dl,
  details > address {
    margin-block-start: 0.5vh;
    margin-block-end: 0.5vh;
    margin-inline-start: 5vw;
    margin-inline-end: 5vw;
    font-size: min(2.7vh, 6vw);
  }

  section:has(details[open]) {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }

  details[open] {
    background-color: white;
    width: 90vw;
    height: 77.5vh;
    margin: 6vh 5vw 4vh 5vw;
    border-radius: 2vh 2vh;
  }

  details[open] span[aria-level='3'] {
    font-size: min(3.8vh, 6.6vw);
  }

  details[open] summary {
    padding: 1vw 1vh;
    pointer-events: none;
  }

  details[open] .organisation-subtitle {
    font-size: min(3vh, 5vw);
  }

  details[open] .time-frame-subtitle {
    font-size: min(3vh, 5vw);
  }

  details[open] > p,
  details[open] > dl,
  details[open] > address {
    margin-block-start: 0.5vh;
    margin-block-end: 0.5vh;
    margin-inline-start: 5vw;
    margin-inline-end: 5vw;
    font-size: min(2.5vh, 5.5vw);
    overflow-wrap: break-word;
  }

  details[open] .details-summary-with-cert-image-span {
    flex-basis: 100%;
  }

  details[open] .cert-image-span {
    display: none;
  }

  button.section-collapse-button,
  button.cert-viewer-collapse-button {
    border-radius: 50%;
    border-width: 0;
    background-color: white;
    font-family: 'Decalotype';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 800;
    width: 4vh;
    height: 4vh;
    position: absolute;
    top: 1vh;
    pointer-events: all;
    background-position: center;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-image: url(/public/images/prevarrowbluetintdark.svg);
  }

  button.cert-viewer-collapse-button {
    left: 5vw;
  }

  button.cert-viewer-collapse-button:hover,
  button.section-collapse-button:hover {
    background-color: #5c7ad6;
    background-image: url(/public/images/prevarrowbluetintbright.svg);
  }
}
