.top-nav-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog.top-nav-dialog {
  border: 0;
  overflow: hidden;
  background-color: transparent;
}

@media (min-width: 1200px) {
  dialog.top-nav-dialog {
    width: 10vw;
    height: 23.5vh;
    border: 0;
    overflow: hidden;
    margin: 8vh auto;
  }
}

@media (max-width: 1199px) {
  dialog.top-nav-dialog {
    width: min(30vw, 20vh);
    height: 36vh;
    border: 0;
    overflow: hidden;
    margin: 10vh auto;
  }
}
