@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Black.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-BlackItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-ExtraBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-ExtraBoldItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-LightItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-MediumItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-SemiBoldItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'Decalotype';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.cv-article-subheading {
  font-weight: 400;
  color: #5c7ad6;
  margin-block-start: 0;
}

details.empty-details > summary {
  list-style: none;
}

details.empty-details > summary::-webkit-details-marker {
  display: none;
}

details.empty-details:hover {
  cursor: default;
}

details.empty-details:hover > summary > span[aria-level="3"] {
  color: black;
  font-weight: normal;
}

details.empty-details[open] > summary > span[aria-level="3"] {
  color: black;
  font-weight: normal;
}


details:hover {
  cursor: pointer;
}

details:hover > summary > span[aria-level="3"] {
  color: #666666;
  font-weight: bold;
}

details[open]:hover {
  cursor: default;
  font-weight: normal;
}

details[open] > summary > span[aria-level="3"] {
  color: black;
  font-weight: bold;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::marker {
  content: "";
}

.organisation-subtitle {
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.time-frame-subtitle {
  color: #666666;
  margin-block-start: 0;
}

@media (min-width: 1200px) {
  span.mobile-span {
    display: none;
  }

  span.laptop-span {
    display: inline;
  }

  h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0;
    font-weight: 400;
    color: #5c7ad6;
    font-size: min(2vw, 3vh);
  }

  p.cv-article-subheading {
    font-size: min(1vw, 1.5vh);
  }

  h3,
  summary span[aria-level="3"] {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: min(1.5vw, 2.25vh);
  }

  main {
    margin: 0vh 15vw;
  }

  section > p {
    margin-inline-start: 2em;
  }

  body {
    font-size: min(1.2vw, 1.8vh);
  }

  details.empty-details > summary {
    text-indent: min(1.3vw, 2vh);
  }

  details > p,
  details > dl,
  details > address {
    margin-block-start: 1vh;
    margin-block-end: 1vh;
    margin-inline-start: 2.5vw;
    margin-inline-end: 2.5vw;
    font-size: min(1.05vw, 1.575vh);
  }

  details > summary {
    pointer-events: none;
  }

  .organisation-subtitle {
    font-size: min(1.2vw, 1.8vh);
  }

  .time-frame-subtitle {
    font-size: min(1.2vw, 1.8vh);
  }
}

@media (max-width: 1199px) {
  span.mobile-span {
    display: inline;
  }

  span.laptop-span {
    display: none;
  }

  h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0;
    font-weight: 400;
    color: #5c7ad6;
    font-size: min(4vh, 6vw);
  }

  p.cv-article-subheading {
    font-size: min(2vh, 3vw);
  }

  h3,
  summary span[aria-level="3"] {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: min(3.5vh, 5.25vw);
  }

  main {
    margin: 0vh 5vw;
  }

  section > p {
    margin-inline-start: 2em;
  }

  body {
    font-size: min(1.2vh, 1.8vw);
  }

  details.empty-details > summary {
    text-indent: 2vw;
  }

  details > p,
  details > dl,
  details > address {
    margin-block-start: 0.5vh;
    margin-block-end: 0.5vh;
    margin-inline-start: 5vw;
    margin-inline-end: 5vw;
    font-size: min(2.4vh, 3.6vw);
  }

  .organisation-subtitle {
    font-size: min(2.4vh, 3.6vw);
  }

  .time-frame-subtitle {
    font-size: min(2.4vh, 3.6vw);
  }
}