@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Black.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-BlackItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-ExtraBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-ExtraBoldItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-LightItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-MediumItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Decalotype";
  src: url("/public/fonts/Decalotype-SemiBoldItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'Decalotype';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.cv-article-subheading {
  font-weight: 400;
  color: #5c7ad6;
  margin-block-start: 0;
}

@media (min-width: 1200px) {
  span.mobile-span {
    display: none;
  }

  span.laptop-span {
    display: inline;
  }

  main {
    margin: 0vh 15vw;
  }

  section > p {
    margin-inline-start: 2em;
  }

  body {
    font-size: min(1.2vw, 1.8vh);
  }
}

@media (max-width: 1199px) {
  span.mobile-span {
    display: inline;
  }

  span.laptop-span {
    display: none;
  }

  main {
    margin: 0vh 5vw;
  }

  section > p {
    margin-inline-start: 2em;
  }

  body {
    font-size: min(1.2vh, 1.8vw);
    min-width: 330px;
  }
}